<html>
<head>
<title>Jasmyn Medina</title>
</head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: LightCoral;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

li a {
    display: block;
    color: AntiqueWhite;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: DarkGray;
}
</style>
</head>
<body>

<ul>
  <li style="float:left"><a class="active" href="#home">Home</a></li>
  <li style="float:right"><a class="active" href="#contact">Contact</a></li>
  <li style="float:center"><a class="active" href="#about">About</a></li>
</ul>
<body style="background-color:AntiqueWhite;">
<h1 style="text-align:center;color:LightCoral;font-size:35px;font-family:Comic Sans MS;"><br>Jasmyn Medina</h1>
<hr>
<p style="text-align:center;color:LightCoral;font-size:10px;font-family:Comic Sans MS;">Published: 7/6/2017 <p>
<hr>
<h1 style="text-align:center; color:LightBlue; font-size: 50px;font-family:Comic Sans MS;">Who am I?</h1>
<p style="text-align:center; color: LightCoral;font-size:20px;font-family:Comic Sans MS"> I'm Jasmyn. I'm 17 years old. I'm a senior.
  I'm upsessed with Target(literally!).
  <br>I have a dog (Boston Terrier) and a cat (a real cute one). I have one older and younger sister. I have way to many leggings.
  <br>I live in Palmdale. I used to live in Valencia.</p>
<hr>
<h1 style="text-align:center; color:LightBlue; font-size:50px;font-family:Comic Sans MS;">My Favorite Places</h1>
<p style="text-align:center; color: LightCoral;font-size:20px;font-family:Comic Sans MS"> ~TARGET<br> ~HOME!<br> ~The Mall<br>
  ~Amusement Parks<br> ~Did I mention TARGET!!<br> ~Any place that has a lot of trees and ponds
<hr>
<h1 style="text-align:center; color:LightBlue; font-size:50px;font-family:Comic Sans MS;">My Favorite Photos</h1>
<img src="C:\Users\Girls Who Code\djangogirls\blog\templates\blog\peonies.jpg" width="218px" height="218px" ></>
<img src="C:\Users\Girls Who Code\djangogirls\blog\templates\blog\island.jpg"  width="218px" height="218px" ></>
<img src="C:\Users\Girls Who Code\djangogirls\blog\templates\blog\puppy.jpg"  width="218px" height="218px" ></>
<img src="C:\Users\Girls Who Code\djangogirls\blog\templates\blog\nature.jpg"  width="218px" height="218px" ></>
<img src="C:\Users\Girls Who Code\djangogirls\blog\templates\blog\star.jpg"  width="218px" height="218px" ></>
<img src="C:\Users\Girls Who Code\djangogirls\blog\templates\blog\jas.jpg"  width="218px" height="218px" ></>
